<!-- <div class="container-fluid p-h-0"> -->
    <div class="chat chat-app row">

        <div class="chat-list col-md-3">
            <!-- SEARCH -->
            <div class="chat-user-tool">
                <i nz-icon nzType="search" theme="outline" class="search-icon p-r-10 font-size-20"></i>
                <input placeholder="Search...">
            </div>
            <!-- Chat LIST -->
            <div class="chat-user-list" *ngIf="chats.length > 0" >
                    <div *ngFor="let item of chats, let i=index">
                            <a (click)="selectChat(item)">
                                <div class="p-h-25 my-2" [ngClass]="{'active': index == chatIdentifer}">
                                    <div class="media align-items-center">
                                        <div>
                                            <nz-avatar class="shadow" nzIcon="user" [nzSrc]="item.contact.avatar_url"></nz-avatar>
                                        </div>
                                        <div class="p-l-15">
                                            <h5 class="m-b-0">{{item.contact.fullname | fullnameFormat }}</h5>
                                            <ng-container>
                                                <p class="msg-overflow m-b-0 text-muted font-size-13">
                                                    {{item.latest_message}}
                                                </p>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
              
                <!-- </nz-list> -->
            </div>
        </div>
        <!-- MESSAGES -->
        <div *ngIf="!isContentOpen"  class="col-md-9 d-flex justify-content-center align-items-center">
            <div>
                <img class="img-fluid w-60 m-auto p-10 chat-logo" alt="" src="assets/images/logo/chat_logo.png">
            </div>
        </div>
        <div *ngIf="isContentOpen"  class="chat-content col-md-9" [ngClass]="{'open': isContentOpen}">
            <div class="conversation">
                <div class="conversation-wrapper">
                    <!-- CONVERSATION HEADER -->
                    <div class="conversation-header justify-content-between">
                        <ng-container *ngFor="let item of usersList">
                            <div class="media align-items-center" *ngIf="chatIdentifer == item.fullname">
                                <a [routerLink]="" (click)="closeChatContent()"
                                    class="m-r-20 d-md-none d-block text-dark font-size-18 m-t-5">
                                    <i nz-icon nzType="left-circle" theme="outline"></i>
                                </a>
                                <div>
                                    <nz-avatar class="shadow" nzIcon="user" [nzSrc]="item.avatar_url"></nz-avatar>
                                </div>
                                <div class="p-l-15">
                                    <h6 class="m-b-0">{{item.fullname | fullnameFormat}}</h6>
                                    <div *ngIf="item.isOnline">
                                        <p class="m-b-0 text-muted font-size-13">
                                            <nz-badge nzStatus="success"></nz-badge>
                                            <span>Online</span>
                                        </p>
                                    </div>

                                    <div *ngIf="!item.isOnline">
                                        <p class="m-b-0 text-muted font-size-13">

                                            <nz-badge nzStatus="error"></nz-badge>
                                            <span>Offline</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div>
                            <a class="text-dark font-size-18" [nzDropdownMenu]="chatSetting" nz-dropdown
                                [nzTrigger]="'click'" nzPlacement="bottomRight">
                                <i nz-icon nzType="setting" theme="outline"></i>
                            </a>
                            <nz-dropdown-menu #chatSetting="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="closeChatContent()">close</li>
                                </ul>
                            </nz-dropdown-menu>
                        </div>
                    </div>
                    <!-- CONVERSATION BODY -->
                    <div class="conversation-body" #scrollBottom>
                        <ng-container *ngFor="let item of usersList">

                            <div *ngIf="chatIdentifer == item.fullname">
                                <div class="msg"
                                    [ngClass]="{'msg-recipient':message.sender.id == item.id, 'msg-sent': message.sender.id != item.id}"
                                    *ngFor="let message of messagesList">
                                    <div class="avatar m-x-10" *ngIf="message.sender.avatar_url">
                                        <nz-avatar *ngIf="message.sender.avatar_url" [nzIcon]="'user'"
                                            [nzSrc]="message.sender.avatar_url"></nz-avatar>
                                    </div>
                                    <div class="bubble" *ngIf="message.message_content.length > 1"
                                        [ngClass]="{'m-l-50': message.sender.avatar_url.length == 0}">
                                        <div class="bubble-wrapper">
                                            <span>{{message.message_content}}</span>
                                            <!-- <img *ngIf="item.msgType == 'image'" [src]="item.text" [alt]="item.text">
                                            <div *ngIf="item.msgType == 'file'"
                                                class="d-flex align-items-center msg-file">
                                                <i class="font-size-25" nz-icon nzType="file" theme="outline"></i>
                                                <span class="m-l-10 font-weight-semibold text-link pointer">
                                                    <u>{{item.text}}</u>
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!-- <div class="font-weight-semibold font-size-12" *ngIf="message.created_at.length > 1">
                                        {{message.created_at}}
                                    </div> -->
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    
                    <!-- CONVERSATION FOOTER -->
                    <div class="conversation-footer">
                        <input #input [(ngModel)]="msg" class="chat-input" type="text" placeholder="Type a message..."
                            (keydown.enter)="sendMsg(msg);$event.preventDefault()">
                        <ul class="list-inline d-flex align-items-center m-b-0">
                            <li class="list-inline-item">
                                <a class="text-gray font-size-20" nz-tooltip nzTooltipTitle="Emoji">
                                    <i nz-icon nzType="smile" theme="outline"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-gray font-size-20" nz-tooltip nzTooltipTitle="Attachment">
                                    <i nz-icon nzType="paper-clip" theme="outline"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <button class="d-none d-md-block" nz-button nzType="primary" (click)="sendMsg(msg)">
                                    <span class="m-r-10">Send</span>
                                    <i class="far fa-paper-plane"></i>
                                </button>
                                <a class="text-gray font-size-20 d-md-none d-block" (click)="sendMsg(msg)" nz-tooltip
                                    nzTooltipTitle="Attachment">
                                    <i nz-icon nzType="paper-clip" theme="outline"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->