<div class="page-header has-tab">
    <h2 class="font-weight-normal">Settings</h2>
</div>
<nz-tabset class="page-header-tab">
    <nz-tab nzTitle="Account">
        <div class="container" *ngIf="currentUser">
            <nz-card nzTitle="Basic Infos">
                <div class="media align-items-center">
                    <nz-avatar [nzSize]="80" nzIcon="user" [nzSrc]="currentUser.avatar_url"></nz-avatar>
                    <div class="m-l-20 m-r-20">
                        <h5 class="m-b-5 font-size-18">Profil Picture</h5>
                        <p class="opacity-07 font-size-13 m-b-0">
                            Recommended dimensions: <br>
                            120x120 Max file size: 5MB
                        </p>
                    </div>
                    <nz-upload nzName="avatar" [nzShowUploadList]="false" (nzChange)="handleChange($event)">
                        <button nz-button nzType="primary">
                            <span>Download</span>
                        </button>
                    </nz-upload>
                </div>
                <hr class="m-v-25">
                <form nz-form [formGroup]="basicInfoForm" [nzLayout]="'vertical'" (ngSubmit)="submitBasicInfos()">
                    <div class="row">
                        <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-label>Full Name</nz-form-label>
                                <nz-form-control>
                                    <input nz-input placeholder="Nom complet" formControlName="fullname">
                                    <div *ngIf="basicInfoForm.controls.fullname.touched && basicInfoForm.controls.fullname.errors" class="error-msg">
                                        <div *ngIf="basicInfoForm.controls.fullname.errors.required">
                                            <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> Fullname is required
                                        </div>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-label>Nickname</nz-form-label>
                                <nz-form-control>
                                    <input nz-input placeholder="Nickname" type="text" formControlName="nickname">
                                    <div *ngIf="basicInfoForm.controls.nickname.touched && basicInfoForm.controls.nickname.errors" class="error-msg">
                                        <div *ngIf="basicInfoForm.controls.nickname.errors.required">
                                            <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> Nickname is required
                                        </div>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nz-form-item>
                                <nz-form-label>Bio</nz-form-label>
                                <nz-form-control>
                                    <textarea nz-input formControlName="bio" placeholder="Biographie"
                                        type="text"></textarea>
                                        <div *ngIf="basicInfoForm.controls.bio.touched && basicInfoForm.controls.bio.errors" class="error-msg">
                                            <div *ngIf="basicInfoForm.controls.bio.errors.required">
                                                <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> Bio is required
                                            </div>
                                        </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-label>Phone</nz-form-label>
                                <nz-form-control>
                                    <input nz-input formControlName="phone" placeholder="Telephone">
                                    <div *ngIf="basicInfoForm.controls.phone.touched && basicInfoForm.controls.phone.errors" class="error-msg">
                                        <div *ngIf="basicInfoForm.controls.phone.errors.required">
                                            <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> Phone is required
                                        </div>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-label>Full address</nz-form-label>
                                <nz-form-control>
                                    <input nz-input formControlName="adresse" placeholder="Adresse Compléte">
                                    <div *ngIf="basicInfoForm.controls.adresse.touched && basicInfoForm.controls.adresse.errors" class="error-msg">
                                        <div *ngIf="basicInfoForm.controls.adresse.errors.required">
                                            <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> Adresse is required
                                        </div>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nz-form-item>
                                <nz-form-label>Birth Date</nz-form-label>
                                <nz-form-control>
                                    <nz-date-picker formControlName="birth_date" class="w-100" nzFormat="yyyy/MM/dd"
                                        nzPlaceHolder="Date of Birth"></nz-date-picker>
                                        <div *ngIf="basicInfoForm.controls.birth_date.touched && basicInfoForm.controls.birth_date.errors" class="error-msg">
                                            <div *ngIf="basicInfoForm.controls.birth_date.errors.required">
                                                <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i> Birth Date is required
                                            </div>
                                        </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="row">
                           <div class="col-md-12">
                               <nz-form-item>
                                <nz-form-control>
                                    <button nz-button 
                                            nzType="primary" 
                                            type="submit"
                                            [disabled]="basicInfoForm.invalid">Save</button>
                                </nz-form-control>
                                </nz-form-item>
                           </div>
                    </div>
                    <hr class="m-v-25">
                </form>
            </nz-card>
        </div>
    </nz-tab>
</nz-tabset>