<perfect-scrollbar class="side-nav" sideNav>
    <ul class="ant-menu ant-menu-root ant-menu-inline side-nav-menu" 
        [ngClass]="{
            'ant-menu-dark' : isSideNavDark
        }"
    >
        <li *ngFor="let item of usersList"  class="ant-menu-item">
            <span (click)="closeMobileMenu(item)">
                <nz-avatar nz-tooltip [nzTooltipTitle]="item.fullname" class="shadow" nzIcon="user" [nzSrc]="item.avatar_url"></nz-avatar>
                <span *ngIf="!isFolded" class="mx-1">{{item.fullname}}</span>
            </span>
        </li>
    </ul>
</perfect-scrollbar>    